@model EasyFlight.ViewModel.AdminSeatViewModel
@{
    ViewData["Title"] = "Popust";
}

<h2>Popust</h2>
<h3>Dodaj novu cenu za izabrano sediste</h3>
<form method="post">
    
    <div class="form-group">
        <label for="novaCena">DiscountPrice</label>
        <input type="text" class="form-control" name="Discount" placeholder="Nova Cena">
    </div>
    <button type="submit" value="Flight" class="btn btn-primary">Dodaj Let</button>

</form>

