@model EasyFlight.ViewModel.LoginViewModel;
<!doctype html>
<html lang="en">
<head>
    
    <title>Login</title>
</head>
<body>

    <!-- LOGIN  -->
    <BR><BR><BR>
    <div class="row justify-content-md-center">

        <div class="col-4">

            <form method="post">
                <div class="form-group">
                    <label for="login-email">Email address</label>
                    <input type="email" class="form-control" name="Email" placeholder="Login email">
                </div>
                <div class="form-group">
                    <label for="login-password">Password</label>
                    <input type="password" class="form-control" name="Password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>



        </div>

    </div>

</body>
</html>`
